.Input {
  outline: none;
  margin: 10px 0;
  border-radius: 4px;
  color: #f0e6d2;
  background: linear-gradient(to bottom, #1e2328, #292d30);
  border-image: linear-gradient(to bottom, #785a28, #c8aa6e) 1 stretch;
  border: 2px solid #a98f5d;
  height: 25px;
  width: 300px;
  padding: 10px;
  font-size: 16px;
}
