.ChampCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  width: 100%;
  background: $BlueDark;
  .ChampCard__Avatar,
  .ChampCard__Title,
  .ChampCard__Subtitle {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  .ChampCard__Avatar {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 5px solid $GoldDark;
    margin-bottom: 10px;
  }
  .ChampCard__Title {
    color: $GoldLight;
    font-weight: bold;
    font-size: 25px;
  }
  .ChampCard__Subtitle {
    color: $Grey;
    font-size: 18px;
  }
}
