* {
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  background: $BlueDark;
  a {
    text-decoration: none;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
  }
}
