.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: $NavBar__height;
  @include xs {
    padding: 0;
  }
  .NavBar__logo {
    height: auto;
    width: 170px;
    @include xs {
      width: 90px;
    }
  }
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .NavBar__NavLink {
      color: red;
      font-size: 20px;
      color: $GoldLight;
      margin: 0 30px;
      &:hover {
        opacity: 0.4;
      }
    }
  }
}
