.Champions {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .Champions__header {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: $GoldDark;
      font-size: 42px;
      margin: 0;
      @include xs {
        font-size: 36px;
      }
    }
    .Champions__header__filters {
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin: 25px 0;
      }
    }
  }
  .Champions__no-data {
    color: $GoldDark;
    font-size: 28px;
    text-align: center;
    @include xs {
      font-size: 22px;
    }
  }
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
  }
}
