.ChampionDetail {
  padding: 20px 0;
  min-height: $Content__height;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .ChampionDetail__Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    .ChampionDetail__Title {
      display: flex;
      flex-direction: column;
      text-align: center;
      flex: 1;
      &::after {
        content: '';
        flex: 1;
      }
      h1 {
        color: $GoldLight;
        font-size: 42px;
        margin: 0;
      }
      span {
        color: $Grey;
        font-size: 16px;
        font-style: italic;
      }
      ul {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        li {
          color: $Grey;
          font-size: 18px;
        }
      }
    }
  }
  .ChampionDetail__Lore {
    border-radius: 4px;
    background: $BlueDark;
    font-size: 18px;
    color: $GoldDark;
    text-align: left;
    padding: 40px;
    margin: 20px auto;
    width: 60%;
  }
}
